{
  "AllowOverthrow": true,
  "ValueAdditionToOverthrow": 50,
  "DayRangeForActiveDemographic": 1.5,
  "PercentOfDaysToBeActiveForLongTermDemographic": 0.5,
  "HoursPlayedToBeActiveDemographic": 0.5,
  "DayRangeForAbandonedDemographic": 7,
  "HoursPlayedToBeAbandonedDemographic": 0,
  "CitizenAgeForAbandonedDemographic": 24,
  "MinutesBetweenCivicsUpdates": 5,
  "AllowInvalidCivicContainerTimeInMinutes": 60,
  "RecurringTransferFrequencyInMinutes": 30,
  "AllowLawsToPreventLoginOrPlay": false,
  "BasicElectionSettings": {
    "MaximumElectionHours": 24,
    "MinimumPercentOfEligibleVotersRequired": 10,
    "MinimumDaysBetweenElectionsOfThisType": 0,
    "EndElectionEarlyWhenThisPercentHaveVoted": 95,
    "PercentOfAllVotersToInstantWin": 51,
    "PercentOfAllVotersToInstantLose": 51,
    "AnonymousVoting": false,
    "TwitchSubscriberVoteWeight": 0.2,
    "TwitchNonSubscriberVoteWeight": 0.1,
    "MaxPercentTwitchVotes": 50
  },
  "EnableAdminUI": false,
  "HoursAfterDeedOverburdenedBeforeRemovingPlots": 24
}
